{% extends "page-layout.html" %}
{% block content %}

    <h1>Branches</h1>
    <p>
        All branches in <a href="https://github.com/{{account}}/{{repo}}/branches">{{account}}/{{repo}}</a>
        (sort <a href="./?sort=name">by name</a>, sort <a href="./?sort=date">by date</a>):
    </p>
    <ul>
        {% for branch in branches %}
            <li>
                {% if branch.link %}
                    <a href="{{branch.name}}/{{branch.link}}">{{branch.name}} /{{branch.link}}</a>
                {% else %}
                    <a href="{{branch.name}}">{{branch.name}}</a>
                {% endif %}
                <small>{{branch.age|nice_relative_time}} ago</small>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
